<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="Npgsql.NpgsqlConnectionFactory, EntityFramework6.Npgsql" />
    <providers>
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <add name="Npgsql Data Provider" invariant="Npgsql" description="Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <!-- Aca esta el string de conexion a la DB se lo pone un nombre para poder referenciarlo en el programa
    Para usarlo con su propia DB deben crearla y luego modificar el string poniendo:
    Host, puerto, usuario, contraseña, base de datos, el resto lo dejan tal cual si piensan usar Heroku-->
    <add name="heroku" connectionString="User ID=lguuiapahnunky;Password=91fd2a2efcfe9d82c14e5815c33ea978be33eebd6dde73513dead9181271b13a;Host=ec2-50-17-234-161.compute-1.amazonaws.com;Port=5432;Database=d6to59n2lk2uvl;Pooling=true;Use SSL Stream=True;SSL Mode=Require;TrustServerCertificate=True;EntityAdminDatabase=d6to59n2lk2uvl" providerName="Npgsql" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.10.0" newVersion="4.0.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>